.app-div {
  background-color: lightblue;
}

.app {
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log {
  cursor: pointer;
}
.appcontent {
  display: flex;
  /* justify-content:center; */
  align-items: center;
  /* padding: 200px; */
  gap: 250px;
}

.logg {
  cursor: pointer;
}

.formbg {
  width: 370px;
  height: 302px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px 20px 20px 0px;
  padding: 30px;
}
.br {
  background: #f4f8fc;
  border-radius: 5px;
  width: 90%;
  padding: 5px;
  outline: none;
  border: none;
}
.br1 {
  margin-bottom: 25px;
  background: #f4f8fc;
  border-radius: 5px;
  width: 90%;
  padding: 5px;
  outline: none;
  border: none;
}
.welcome {
  color: #022b69;
  font-weight: bold;
  font-size: 40px;
}
.text {
  color: #b2bed0;
  font-weight: bold;
  font-size: 40px;
}
.login {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  color: #022b69;
}

.loginbtn {
  margin-top: 13px;
}
.log {
  background: #022b69;
  border-radius: 10px 10px 10px 0px;
  color: white;
  padding: 10px 20px 10px 20px;
  outline: none;
  width: 130px;
  align-self: center;
  margin-left: 93px;
}

.label {
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  padding-bottom: 30px;
  color: #b2bed0;
}

.formbg ul {
  list-style-type: none;
  padding-top: 16px;
}

.formbg ul {
  display: flex;
  gap: 70px;
  font-size: 14px;
}
.formbg ul li a {
  text-decoration: none;
}

@media screen and (max-width: 930px) {
  .logg{
    display:none;
  }
  .logotext{
    margin-right: 100px;
  }
  .appcontent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .welcome {
    font-size: 35px;
  }
  .text {
    font-size: 35px;
  }
}
