.signupcontainer {
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding:70px;
  gap: 70px;
}
.signuptext{
  /* flex-grow: 1; */
  /* margin: 100px; */
}
.clue{
  font-weight: bold;
font-size: 48px;
line-height: 46px;
color: #022B69;
}
.clos{
  font-weight: bold;
font-size: 44px;
line-height: 42px;
color: #B2BED0;
}
.formcontainer {
  width: 100%;
  max-width: 650px;
height: 670px;
  padding: 5px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px 20px 20px 0px;
}
.tet{
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  padding-bottom: 30px;
  color: #b2bed0;
  margin-bottom: 10px;
}
.last{
  display: flex;
  gap: 35px;
}

.hut{
  font-weight: bold;
font-size: 30px;
line-height: 29px;
color: #022B69;
text-align:center;
}
.bet{
  margin-bottom: 20px;
  background: #f4f8fc;
  border-radius: 5px;
  /* width: 100%; */
  padding: 15px;
  margin-top: 8px;
  gap: 50px;
  outline: none;
  border: none;
  color: #b2bed0;
}
.best{
  background: #f4f8fc;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 8px;
}

.old{
  color:mediumblue;
  /* position: relative;
  left: 200px;
  bottom: 100px; */
}
.try{
  display: flex;
  justify-content: center;
  /* align-items: center; */
 
}

.set{
  background: #022B69;
border-radius: 10px 10px 10px 0px;
  color:white;
  padding: 10px 20px 10px 20px;
  outline: none;
  width: 150px;
  font-size: 20px;
  cursor: pointer;

}

/* media querries */

@media screen and (max-width: 880px) {
  .signupcontainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items:center;
    /* padding: 80px; */
  }
  .signuptext{
    /* display: block; */
    /* width: 100%; */
  }
  .clos{
    font-weight: bold;
  font-size:26px;
  line-height: 22px;
  margin-top:-20px;
  text-align:left;
  }
  .clue{
    font-size: 26px;
    text-align:left;
  }
  .formcontainer {
    width: 400px;
    height: 580px;
    padding: 20px 10px 10px 10px;
    /* margin-top: -50px; */
  }
  .hut{
    font-size: 20px;
  }
  .set{
    width: 100px;
    font-size: 12px;
  }

}
@media screen and (max-width: 500px){

  .signupcontainer{
    padding: 80px;
    overflow-x: hidden;
  }
  .signuptext{
    display: block;
  }
  .clue, .clos{
    font-size:26px;
  }
  .hut{
    font-size: 18px;
  }
  .tet{
    font-size: 12px;

  }
 
   .formcontainer {
    width: 330px;
    height: 580px;
    padding: 10px;
    /* margin-top: -50px; */
  }
}
