.nav {
  margin-right: auto;
  display: flex;
}

.nav ul li {
  list-style: none;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.nav ul a{
  color: #0000FF;

}

.nav > img{
  display: none;
}

.tog ul {
  padding: 40px;
  list-style-type: none;
  background-color: #ffffff;
  color: #022b69;
  width: 50%;
  text-align: left;
  display: none;
  position: absolute;
  right: 0;
}

.tog li {
  padding-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .nav ul {
    display: none;
  }
  nav>img {
    display: block;
  }
}