.nav {
  background: var(--white);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.menu li a {
  font-weight: 500;
  padding: 5px 10px;
  margin-left: 20px;
}
.menu li a:hover,
.menu li a.active{
  background-color: magenta;
  border-radius:2px;
  color:black;
  transition:all 0.5s ease-in-out;
}

.nav ul {
  
}

/* .nav ul {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
} */
/* .nav ul a{
  color: #0000FF;

} */

.nav > img{
  /* display: none; */
}

.tog{
  list-style-type: none;
  background-color: #ffffff;
  color: #022b69;
  text-align: left;
  display: none;
  position: absolute;
  right: 0;
}
.top{
  display: none;
}
.tog li {
  /* padding-bottom: 60px;  */
}

@media screen and (max-width: 900px) {
  
  .tog{
    display: block;
  }
  .menu{
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: mediumaquamarine;
    padding:20px;
    right: 0;
    top: 64px;
  }
  .menu li{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .menu li a{
    width: 100%;
    display: block;
    margin: auto;
  }
}